#registerInput {
    border: 1.1px solid;
    border-color: #CAC2B8;

    width: 1200px;
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 75px;
}

#registerBody {
    padding: 6px 6px 6px 6px;
}

#registerButtonGroup {
    text-align: center;
}

#registerButton {
    width: 150px;
    margin-top: 25px;
}